<ion-header>
  <ion-toolbar class="toolbar-color">
    <ion-title class="ion-text-start">CookItEasy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
		<form #editForm="ngForm" (ngSubmit)="updateUser(editForm)">
			<ion-item>
				<ion-label position="floating">Nombre</ion-label>
				<ion-input [(ngModel)]="user.nombre" name="nombre" type="text" required></ion-input>
			</ion-item>
		
			<br>

			<ion-item>
				<ion-label position="floating">Nombre de usuario</ion-label>
				<ion-input [(ngModel)]="user.nickname" name="nickname" type="text" required></ion-input>
			</ion-item>
		
			<br>

			<ion-item>
				<ion-label position="floating">Email</ion-label>
				<ion-input [(ngModel)]="user.email" name="email" type="text" required></ion-input>
			</ion-item>
		
			<br>

			<ion-item lines="full">
				<ion-label position="floating">Fecha de nacimiento</ion-label>
				<br>
				<ion-input [(ngModel)]="user.fecha_nacimiento" name="fecha_nacimiento" type="date" required></ion-input>
			</ion-item>

      <br>

      <ion-list-header style="margin-top: 15%;"><h3 style="text-align: center; width: 95%;"><i>¿Modificar contraseña?</i></h3> </ion-list-header>

      <br>

			<ion-item>
				<ion-label position="floating">Contraseña actual</ion-label>
				<ion-input [(ngModel)]="user.password" name="password" type="password"></ion-input>
			</ion-item>
		
			<br>

			<ion-item lines="full">
				<ion-label position="floating">Nueva contraseña</ion-label>
				<ion-input [(ngModel)]="newPassword" name="newPassword" type="password"></ion-input>
			</ion-item>

      <br>

			<ion-row>
				<ion-col style="display: flex; justify-content: space-between;">
          <div>
            <ion-button color="primary" color="danger" expand="block" [routerLink]="['/tabs/main-profile']">Cancelar</ion-button>
          </div>
					<div>
            <ion-button type="submit" color="primary" expand="block">Confirmar</ion-button>
          </div>
				</ion-col>
			</ion-row>
		</form>
		
	</div>
</ion-content>
