<ion-header>
  <ion-toolbar color="dark">

    <ion-title>NombreApp</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="receipt-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngFor="let recipe of recipesService.recipes">
    <ion-item lines="none">
        <ion-avatar slot="start">
            <img src="https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg">
        </ion-avatar>
        <ion-label>
            <h3>{{recipe.nickname}}</h3>
            <p>{{recipe.nombre}}</p>
        </ion-label>
        <ion-button fill="clear" color="medium">
          <ion-icon slot="icon-only" name="open-outline"></ion-icon>
        </ion-button>
    </ion-item>

    <ion-item lines="none" style="height:45%; padding-left: 0;">
      <ion-slides centeredSlides="true" zoom="true" scrollbar="true" class="image-slider" slidesPerView="1">
          <ion-slide  *ngFor="let img of [0, 1, 2]">
                  <img style="max-width:100%; text-align: center; max-height:100%;"  src="https://img2.rtve.es/i/?w=1600&i=1606754179280.jpg" class="thumb-img" imageViewer />
          </ion-slide>
      </ion-slides>
    </ion-item>
    
    <ion-item lines="none">
      <ion-label>
        <h2>{{recipe.valoracion}} Me gusta</h2>
        <p>8 Comentarios</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear" color="medium">
          <ion-icon slot="icon-only" name="chatbubble-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="danger">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

</ion-content>
